<ion-content>
  <ion-infinite-scroll>
    <ion-infinite-scroll-content>
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>
            Información Adicional
          </ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-card>
        <ion-card-header>
          <img src="../../assets/carrucel1.jpg" alt="">
          <ion-card-subtitle>Integrante de la agrupación</ion-card-subtitle>
          <ion-card-title>Voz de Angel</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <h3>Instrumento</h3>
          <p> Bajo eléctrico</p><br>    
          <h2>Generos</h2> <p>Versátil</p><br> 
          <h2>Facebook</h2> <ion-button href="https://www.facebook.com/Alebasston" color="primary" size="small"><ion-icon name="logo-facebook"></ion-icon>Alejandro</ion-button>
          <br><br>
          <h3>Correo</h3> <p>alejandrogobass@gmail.com </p>
        </ion-card-content>
      </ion-card>     
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
