<ion-content>
  <ion-infinite-scroll>
    <ion-infinite-scroll-content>
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>
            Información Personal
          </ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-card>
        <ion-card-header>
          <img src="../../assets/carrucel3.jpg" alt="">
          <ion-card-subtitle>Ingeniero en Sistemas Computacionales</ion-card-subtitle>
          <ion-card-title>Alejandro García Orozco</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <h3>Info. Académica:</h3>
          <p> Estudiante del Istituto Tecnológico Superior de ciudad Hidalgo,
            En la especialidad de Ingeniería de Software</p><br>    
          <h2>Edad</h2> <p>22 Años</p><br> 
          <h2>Hobby</h2> <p>Tocar música </p><br>
          <h3>Correo</h3> <p>alejandrogobass@gmail.com </p>
        </ion-card-content>
      </ion-card>     
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>




